<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="hVScscgewcsrwxUnQngUnbVIaa9F6HlbHf+X+X7j7fwp76NZE0FS49NVHk9GExLe3b6Wk50hV8QG8nc9LNFpO6RnIuKUOEOr3izjQi5Fsa4UzA58t4pacQ=="/>
  </connectionStrings>
</configuration>